.background {
  background-color: white;
  transition: all 1000ms;
}
.background.active {
  background-color: #242c46;
  transition: all 1000ms;
}
.head {
  background-color: #242c46;
  color: #b85b5b;
}
.name {
  color: #ffffff;
}
.contactC {
  color: grey;
  transition: all 1000ms;
}

.contactC.active {
  color: #b85b5b;
  transition: all 1000ms;
}
