.background {
  background-color: #f7f7ff;
  transition: all 1000ms;
}
.background.active {
  background-color: #242c46;
  transition: all 1000ms;
}
.head {
  background-color: #242c46;
  color: #e67070;
}

.contactC {
  color: grey;
  transition: all 1000ms;
}

.contactC.active {
  color: #e67070;
  transition: all 1000ms;
}
